$background-color: lightgrey;
$border-type: solid;
$border-width: 2px;
$complete-color: grey;
$context-color: green;
$due-color: red;
$icon-size: 25px;
$left-pane-color: grey;
$left-pane-max-width: 200px;
$left-pane-width: 30%;
$left-pane-z-index: 2;
$line-numbers-pane-width: 40px;
$logo-size: 60px;
$logo-right-shift: 5px;
$logo-background-color: rgb(55, 73, 102);
$logo-bottom-radius: calc(#{$logo-size}/2 - 0px); //0px for circle
$logo-padding-left: calc(#{$logo-size} + 10px);
$logo-z-index: 10;
$mid-pane-color: darkgrey;
$mid-pane-width: 5%;
$pane-height: 100vh;
$project-color: blue;
$right-pane-color: lightgrey;
$right-pane-width: 70%;
$task-entry-background-color: floralwhite;
$task-entry-padding-top: .5em;
$toolbar-background-color: black;
$toolbar-height: 30px;
$toolbar-z-index: 5;


@import 'fonts';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@mixin pane-setup {
    background-color: $background-color;
    height: calc(#{$pane-height} - #{$toolbar-height});
    border: $border-width none;
}

@mixin left-pane-list {
    padding-left: 5px;
}

div {
	&.left-pane {
        @include pane-setup;
        flex: 3 7 30%;
		min-width: $left-pane-width;
		background-color: $left-pane-color;
        clear: left;
        box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
        z-index: $left-pane-z-index;
	}

	&.right-pane {
        @include pane-setup;
        flex: 7 3 70%;
        display: flex;
        flex-flow: row nowrap;
		min-width: $right-pane-width;
		background-color: $right-pane-color;
	}

	&#main-div {
        min-width: 100%;
        display: flex;
        flex-flow: row wrap;
        font-family: 'Roboto';
	}

	&.toolbar {
        padding-left: calc(#{$logo-size} + #{$logo-right-shift});
		min-width: 100%;
		height: $toolbar-height;
        background-color: $toolbar-background-color;
        flex: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
        z-index: $toolbar-z-index;
	}

	&.toolbar-button {
		padding: 0px;
        margin: 0px;
        &:hover {
            background-color: $logo-background-color;
        }
    }

	&.toolbar-logo {
		padding: 0px;
        margin: 0px;
        height: $logo-size;
        width: $logo-size;
        position: absolute;
        left: $logo-right-shift;
        z-index: $logo-z-index;
        background-color: $logo-background-color;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: $logo-bottom-radius;
        border-bottom-right-radius: $logo-bottom-radius;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
	}

	&.line-numbers {
		color: $toolbar-background-color;
		text-align: right;
        padding-right: 5px;
	}

	&.line-numbers-pane {
		height: calc(#{$pane-height} - #{$toolbar-height});
        flex: 0 0 $line-numbers-pane-width;
        background-color: $mid-pane-color;
        .top-padding {
            padding-top: calc(#{$task-entry-padding-top} + 1px);
        }
    }
    
    &.context-list {
        @include left-pane-list;
    }

    &.project-list {
        @include left-pane-list;
    }

}

.todotron {
    font-family: 'Sedgwick Ave Display', cursive;
    padding-left: $logo-padding-left;
}

svg {
	&.icon {
		width: $icon-size;
		height: $icon-size;
		float: left;
		cursor: pointer;
	}
}

.task-list {
    flex: 7 3 100%;
	.task {
        &:hover{
            background-color: lighten($right-pane-color, 20%);
            padding-left: 5px;
        }
		&.complete {
			text-decoration: line-through;
			color: $complete-color;
		}
		&.due {
			color: $due-color;
		}
		.token {
			&.context {
				color: $context-color;
			}
			&.project {
				color: $project-color;
			}
		}
	}
}

.task-entry {
    background-color: $task-entry-background-color;
    border-bottom: 1px solid black;
    padding-top: $task-entry-padding-top;
    box-shadow: inset 0 -1px 1px 1px lightgrey;
}

.clickable {
    cursor: pointer;
}
