$background-color: lightgrey;
$border-type: solid;
$border-width: 2px;
$complete-color: grey;
$context-color: green;
$due-color: red;
$icon-size: 25px;
$left-pane-color: grey;
$left-pane-max-width: 200px;
$left-pane-width: 30%;
$line-numbers-pane-width: 40px;
$mid-pane-color: darkgrey;
$mid-pane-width: 5%;
$pane-height: 100vh;
$project-color: blue;
$right-pane-color: lightgrey;
$right-pane-width: 70%;
$toolbar-background-color: #2E2F30;
$toolbar-height: 30px;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

div {
	&.left-pane,
	&.right-pane {		
		background-color: $background-color;
		height: calc(#{$pane-height} - #{$toolbar-height});
		border: $border-width none;
	}

	&.left-pane {
        flex: 3 7 30%;
		min-width: $left-pane-width;
		background-color: $left-pane-color;
		clear: left;
	}

	&.right-pane {
        flex: 7 3 70%;
        display: flex;
        flex-flow: row nowrap;
		min-width: $right-pane-width;
		background-color: $right-pane-color;
	}

	&.mid-pane {
		min-width: $mid-pane-width;
		border: $border-width none;
		background-color: $mid-pane-color;
	}

	&#main-div {
        min-width: 100%;
        display: flex;
        flex-flow: row wrap;
	}

	&.toolbar {
		min-width: 100%;
		height: $toolbar-height;
        background-color: $toolbar-background-color;
        flex: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        //align-items: center;
		//vertical-align:middle;
	}

	&.toolbar-button {
		padding: 0px;
		margin: 0px;
	}

	&.line-numbers {
		color: $toolbar-background-color;
		text-align: right;
		padding-right: 5px;
	}

	&.line-numbers-pane {
		height: calc(#{$pane-height} - #{$toolbar-height});
        flex: 0 0 $line-numbers-pane-width;
        background-color: $mid-pane-color;
	}

}

.todotron {
	font-family: 'Sedgwick Ave Display', cursive;
}

svg {
	&.icon {
		width: $icon-size;
		height: $icon-size;
		float: left;
		cursor: pointer;
	}
}

.tdtasks {
    flex: 7 3 100%;
	.tdtask {
		&.complete {
			text-decoration: line-through;
			color: $complete-color;
		}
		&.due {
			color: $due-color;
		}
		.token {
			&.context {
				color: $context-color;
			}
			&.project {
				color: $project-color;
			}
		}
	}
}
